.main {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  .hero-container {
    height: 45vh;

    .hero-image {
      background-image: url("../assets/hero\ \(kopia\).png");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      border-radius: 48px;

      display: flex;
      justify-content: center;
      align-items: center;

      .hero-text {
        color: white;
        font-size: 2.5rem;
        font-weight: 300;
        font-style: italic;
      }
    }
  }

  .news-section {
    height: 232px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .slide-show {
      height: 75%;
      width: 100%;
      display: flex;
      justify-content: center;
      column-gap: 24px;

      .square {
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 48px;
      }

      #square-1 {
        background-image: url("../assets/wickChair.png");
      }
      
      #square-2 {
        background-image: url("../assets/linenServette.jpg");
      }
      
      #square-3 {
        background-image: url("../assets/woodCabinet.png");
      }
      
      #square-4 {
        background-image: url("../assets/hangingArmChair.png");
      }

      #square-1, #square-2, #square-3, #square-4 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }

      #square-1, #square-2, #square-3, #square-4:hover {
        cursor: pointer;
      }

    }
  }
}
