#products-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;

  .product-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;

    .img-container {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 48px;
      overflow: hidden;

      img {
        height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }

    .add-btn {
      background-color: black;
      color: white;
      width: 50%;
      height: 32px;
      border: 1px solid black;
      border-radius: 16px;
      padding: 0px 16px;
      font-weight: bold;
    }

    .add-btn:hover {
        cursor: pointer;
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      #name {
        font-weight: 600;
      }

      #price {
        font-size: small;
        font-style: italic;
      }
    }
  }
}
